.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #0E2D1C;
    flex-direction: column;
    padding: 0px;
}

.call-to-action {
    font-family: sans-serif;
    color: rgb(132, 127, 127);
    font-size: clamp(24px, 2vw, 60px);
    margin: 0px;
    margin-top: 5vh;
    font-weight: 200;
}