
.sign-up-button-container {
    width: 90%;
    height: 25%;
    max-height: 100px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .25%;
    margin-top: 15%;
}

.input-email {
    width: 50%;
    margin-right: 2%;
    font-family: sans-serif;
    color: white;
    font-size: clamp(20px, 1.5vw, 60px);
    background-color: transparent;
    border: 0px;
    height: 100%;
    padding-left: 2.5%;
}

.input-email:focus {
    outline: none;
    box-shadow: none;
}

.sign-up-button {
    border-radius: 10px;
    background-color: #0E2D1C;
    border: 0px;
    width: 40%;
    height: 100%;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #0e2d1c85;
    cursor: pointer;
}

.sign-up-button:active {
    transform: scale(0.98); 
}

.sign-up-text {
    font-family: sans-serif;
    color: white;
    font-size: clamp(20px, 1.5vw, 60px);
    margin: 2%
}

.input-email::placeholder {
    color: rgba(255, 255, 255, 0.677);
}

.error-message {
    margin-top: 5%;
    color: red;
    font-size: 1.25vmax;
}
