<div class="sms-confirmation">
    <div id="recaptcha-container" style="height: 12%; width: 80%; display: flex; justify-content: center; align-items: center;"></div>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;" *ngIf="this.recaptchaVerified">
      <!-- <button style="background-color: transparent; height: 5%; width: fit-content; height: fit-content; position: absolute; top: -10%; right: 0%;" (click)="closeWindow"> -->
        <!-- <p style="font-size: 2vmax; color: white; font-weight: 100;">x</p> -->
      <!-- </button> -->
      <mat-icon style="cursor: pointer; height: 10%; width: 10%; font-size: 2vmax; color: white; background-color: transparent; display: flex; justify-content: center; align-items: center; position: absolute; top: 0%; right: 0%;" (click)="closeWindow(false)" fontIcon="close"></mat-icon>
      <p style="font-size: 2vmax; color: white;">check your phone</p>
      <p style="margin-bottom: 4%; color: white;">we sent a verification code to +1 3057334280</p>
      <form class="form" [formGroup]="this.verificationForm" (ngSubmit)="onSubmit()">
        <div class="inputs">
          <input
          type="text"
          formControlName="digit1"
          id="digit1"
          (keyup)="onKeyUp($event, 'digit2', '')"
          maxlength="1"
          autofocus />
        <input
          type="text"
          formControlName="digit2"
          id="digit2"
          (keyup)="onKeyUp($event, 'digit3', 'digit1')"
          maxlength="1" />
        <input
          type="text"
          formControlName="digit3"
          id="digit3"
          (keyup)="onKeyUp($event, 'digit4', 'digit2')"
          maxlength="1" />
        <input
          type="text"
          formControlName="digit4"
          id="digit4"
          (keyup)="onKeyUp($event, 'digit5', 'digit3')"
          maxlength="1" />
        <input
          type="text"
          formControlName="digit5"
          id="digit5"
          (keyup)="onKeyUp($event, 'digit6', 'digit4')"
          maxlength="1" />
        <input
          type="text"
          formControlName="digit6"
          id="digit6"
          (keyup)="onKeyUp($event, '', 'digit5')"
          maxlength="1" />
        
        </div>
        <button type="submit" [disabled]="!verificationForm.valid">Verify</button>
      </form>
      <!-- <a href="#" (click)="resendVerificationCode()">haven't received the code? resend here</a> -->
    </div>
  </div>
    